{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <style>
            body{
                background-color: #0f0f0f;
                color: white;
            }

            a{
                color: white;
            }
        </style>
        {% block head %}{% endblock %}
    </head>

<body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock content %}
</body>
</html>